.shape {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--card-width);
    height: var(--card-height);
    border: 1px solid #bbbbbb;
    border-radius: 16px;
    padding: 16px;
    background-color: #f3f3f3;

    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2),
    -5px -5px 10px rgba(255, 255, 255, .03);
}

.shape:hover {
    background-color: #ffffff;
    box-shadow: 29px 29px 58px rgba(0, 0, 0, .2),
    -5px -5px 58px rgba(0, 0, 0, .1);
}


.labelArea {
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.cardValue {
    font-size: calc(var(--scale) * 4.5px);
}

.cardSuit {
    font-size: calc(var(--scale) * 4.5px);
}

.red > .labelArea {
    color: red;
}


