:root {
  --scale: 7;
  --card-height: calc(var(--scale) * 35px);
  --card-width: calc(var(--scale) * 22px);
}


@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url(./assets/fonts/Inconsolata.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  user-select: none;
  margin: 0 !important;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
